$black: #0e0e11;
$text: #FFF;
$elephant-50: #effaff;
$elephant-100: #ddf5ff;
$elephant-200: #b4edff;
$elephant-300: #72e0ff;
$elephant-400: #27d2ff;
$elephant-500: #00bdfc;
$elephant-600: #0098d9;
$elephant-700: #0079af;
$elephant-800: #006690;
$elephant-900: #035477;
$elephant-950: #023047;